<div class="mid-container">
  <h1>Showing last <%= @recent_count %> shortened links</h1>
  <ul>
    <% @url.each do |url| %>
      <li><%= link_to url.shortened_url, url %> <%= link_to "(#{url.base_url})", url.base_url %></li>
    <% end %>
  </ul>
</div>
